article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* stripping styles */

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Base fonts and body style */

html {
    font-size: 62.5%;
}

body {
    font-size: 2.0rem;
    line-height: 3.0rem;
    letter-spacing: 0.2px;
    font-family: 'Barlow', sans-serif;
    background: #D6F1E4;
    color: #2C2D2C;
}

/* global styles */
a {
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2.5rem;
    font-family: 'Offside', cursive;
    transition: 0.3s;
}

nav {
    font-weight: bold;
    line-height: 2.9rem;
    text-align: right;
}

/* skip link style */
/* foundation is the visually-hidden class, but these are some extras for when it is visible */
.skip-link {
    position: absolute;
    top: 1rem;
    margin: 0 auto;
    transition: 0s;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 30;
}

.skip-link a {
    transition: 0s;
    border: 5px solid #ffffff;
    color: #ffffff;
    background: #2C2D2C;
}

/* the social links in the hamburger menu default to being hidden until smaller screen sizes, where they are relevant */

h1, h2 {
    font-weight: normal;
    font-family: 'Offside', cursive;
    line-height: normal;
}

h2, h3 {
    text-align: center;
    font-size: 4.2rem;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* wrapper */
.wrapper {
    /* At first glance the design seemed to imply a width of 2560px (!!!) but I strongly suspect that the screenshot was made on a high density display, doubling an actual intended width of 1280px */
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

/* half-wrappers */
.left-half-wrapper, .right-half-wrapper {
    max-width: 640px;
    width: 40%;
}

.left-half-wrapper {
    margin: 0 50% 0 auto;
}

.right-half-wrapper {
    margin: 0 auto 0 50%;
}

/* header */
header {
    padding-top: 2rem;
    color: #ffffff;
    height: 90vh;
    background: #2C2D2C url(../assets/header-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* hamburger menu defaults to hidden */
.fa-bars {
    display: none;
    font-size: 4rem;
    /* couldn't find the exact symbol, but widening it a bit makes it seem pretty close */
    transform: scaleX(1.5);
    transition: 0.3s;
    position: fixed;
    top: 2rem;
    right: 4.5rem;
    z-index: 20;
}

/* checkbox hack, always hidden */
.toggle-nav {
    display: none;
    opacity: 0;
    position: absolute;
}

h1 {
    font-size: 2.0rem;
    line-height: 2.0rem;
    text-transform: capitalize;
    float: left;
    width: 5rem;
}

header .main-nav li {
    display: inline-block;
    padding: 0 0rem;
    text-shadow: 1rem 1rem 1rem #000000;
}

header li a {
    font-family: 'Barlow', sans-serif;
}

.social-icons a:hover,
.social-icons a:focus,
nav a:hover,
nav a:focus {
    /* this is the Deep Green #116500 from the design, converted to hsl, with the luminosity bumped up from 20% to 45% */
    color: hsl(110, 100%, 45%);
}

.top-bar {
    margin-bottom: 4rem;
    position: relative;
}

.top-bar .main-nav li:last-of-type {
    padding-right: 0;
}

.top-bar .main-nav li:last-of-type a {
    padding-right: 0;
}

.header-content {
    font-size: 6.88rem;
    line-height: 6.37rem;
    letter-spacing: 0.08rem;
    width: 45%;
    /* text shadow added for legibility! */
    text-shadow: 0 0 5px black;
}

.social-icons {
    /* width is a percentage of the wrapper, which is 80% of the full width */
    /* Want to put this in the 10% margin on the right, based on full page width */
    /* So, 10% / (8/10) = 12.5% to fit in the margin */
    width: 12.5%;
    position: absolute;
    text-align: center;
    right: -12.5%;
    padding-top: 4rem;
}

.social-icons a {
    display: block;
    padding: 0;
}

.fab {
    display: block;
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

/* friends section */

.friends-about {
    padding: 10rem 0;
}

.friends-about h2 {
    color: #116500;
    text-align: center;
    text-transform: capitalize;
}

.gallery,
.icon-links ul {
    margin: 8rem 0;
}

.gallery li,
.icon-links li {
    padding: 0;
    width: calc((100% - 8rem) / 3);
    float: left;
    margin-right: 4rem;
}

.gallery li:nth-of-type(3n),
.icon-links ul li:nth-of-type(3n) {
    margin-right: 0;
}

.about-left-content {
    float: left;
    width: 25%;
    position: absolute;
    height: 100%;
    vertical-align: top;
    margin-top: 1rem;
}

.about-left-content img {
    object-fit: contain;
    object-position: top;
}

.about-right-content {
    float: right;
    width: calc(75% - 4rem);
    margin-left: 4rem;
}

.about-right-content h2 {
    text-align: left;
    text-transform: none;
}

.about-right-content p {
    margin: 2rem 0;
}

.about-right-content a {
    background: #116500;
    text-transform: uppercase;
    border: 2px #116500 solid;
}

.about-right-content a:hover,
.about-right-content a:focus {
    background: #ffffff;
    color: #116500;
}

/* Panda bios section */

.panda-bios {
    color: #ffffff;
    background-color: #213C28;
}

.row {
    position: relative;
}

.right-bleed-image,
.left-bleed-image {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.right-bleed-image {
    float: right;
    right: 0;
}


.left-bleed-image {
    float: left;
    left: 0;
}

.bio-text {
    padding: 18rem 0;
}

.bio-text.left-half-wrapper {
    padding-right: 10rem;
}

.bio-text.right-half-wrapper {
    padding-left: 10rem;
}

.bio-text h2 {
    text-align: left;
}

.bio-text p {
    margin: 3rem 0;
}

.bio-text a {
    color: #116500;
    background-color: #ffffff;
    text-transform: uppercase;
    border: 2px #ffffff solid;
}

.bio-text a:hover,
.bio-text a:focus {
    color: #ffffff;
    background: #213C28;
}

/* icon links section */

.icon-links i {
    display: inline-block;
    color: #2C2D2C;
    font-size: 6rem;
}



.icon-links a {
    display: inline-block;
    color: #116500;
    text-transform: capitalize;
    font-size: 3rem;
    background: transparent;
    margin-top: 1rem;
}

.icon-links a:focus,
.icon-links a:hover {
    background: #116500;
    color: #D6F1E4;
}

.icon-links li > div {
    width: 100%;
    text-align: center;
}

/* bottom (should this be a footer? it's just above the footer, anyway, and I'm unsure what else to call it) */
.bottom {
    color: #ffffff;
    background: #213C28;
    padding: 10rem 0;
}

.bottom form,
.contact
{
    float: left;
}
.bottom-right,
.bottom nav {
    float: right;
}

.bottom-right {
    width: 40%;
    margin-left: 10%;
}

.bottom form {
    width: 50%;
}

.bottom form input[type="submit"] {
    background: #2C2D2C;
    color: #ffffff;
    width: 30%;
    min-width: 15rem;
    font-family: 'Offside', cursive;
    text-transform: uppercase;
    transition: 0.3s;
}

.bottom form input[type="submit"]:hover,
.bottom form input[type="submit"]:focus {
    color: hsl(110, 100%, 45%);    ;
}

.bottom form input[type="email"] {
    width: 70%;
    max-width: calc(100% - 15rem);
    padding-left: 3rem;
}

.bottom form input {
    padding: 1.5rem;
    border: none;
    float: left;
    line-height: 1.2;
}

.bottom h2 {
    text-align: left;
    font-size: 2.5rem;
}

.contact {
    width: calc(100% - 13rem);
}

form p,
.contact address {
    margin: 1rem 0;
}

.contact .chunk {
    display: inline-block;
}

.contact address {
    font-style: normal;
}

.bottom nav {
    text-transform: lowercase;
    width: 13rem;
}

.bottom nav a {
    font-size: 2.5rem;
    padding: 0.25rem 0;
    font-weight: normal;
}

/* footer */
footer {
    padding: 0.75rem 0;
    background: #2C2D2C;
    color: #ffffff;
}

/* The font style of the footer doesn't look like Barlow or Offside. Looks like some sort of sans serif? */
/* Going to move forward */
footer p {
    text-align: center;
    text-transform: capitalize;
}

/* media queries */
@media (max-width:1100px) {
    .bottom-right {
        margin-left: 0;
        width: 100%;
    }

    .bottom form {
        width: 100%;
        margin-bottom: 4rem;
        text-align: center;
    }

    .bottom form h2 {
        text-align: center;
    }

    .bottom-right nav {
        text-transform: uppercase;
    }

    .left-half-wrapper, .right-half-wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 1280px;
    }

    .bio-text.left-half-wrapper,
    .bio-text.right-half-wrapper {
        padding: 4rem 0 2rem 0;
    }

    .bio-text.left-half-wrapper p:last-of-type,
    .bio-text.right-half-wrapper p:last-of-type,
    .bio-text.left-half-wrapper h2:last-of-type,
    .bio-text.right-half-wrapper h2:last-of-type
    {
        text-align: center;
    }

    .right-bleed-image, .left-bleed-image {
        float: none;
        position: inherit;
        width: 100%;
        height: 60vh;
    }

    .friends-about .about-left-content {
        /* Display "none"ing content defeats the purpose of responsive design! I disagree with this design decision! */
        display: none;
    }

    .friends-about .about-right-content {
        width: 100%;
        margin: 0;
    }

    /* this button/link becomes a bit bigger */
    .friends-about .about-right-content a {
        padding: 2rem 3.5rem;
    }

    .friends-about .about-right-content p:last-of-type {
        text-align: center;
    }

    .gallery .img-container {
        width: calc(50% - 2rem);
        margin-bottom: 4rem;
    }

    .gallery {
        margin-bottom: 0;
    }

    .gallery .img-container:last-of-type {
        width: 100%;
    }

    .gallery .img-container:nth-of-type(2) {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .icon-links li {
        display: block;
        margin: 4rem 0;
        padding: 0;
        float: none;
        width: auto;
    }
}

@media (max-width: 750px) {

    .header-content {
        width: 60%;
    }

    .header-content p {
        font-size: 5rem;
        line-height: normal;
    }

    /* some links are almost imperceptably larger */
    a {
        font-size: 2.1rem;
    }

    /* change top nav and social icons into a hamburger menu */

    header {
        overflow: hidden;
        position: relative;
    }

    .fa-bars {
        display: block;
    }

    .top-bar nav {
        width: auto;
        position: fixed;
        text-align: center;
        right: -20rem;
        top: 0;
        transition: 0.3s;
        height: 100%;
        background: #2C2D2C;
        padding-top: 8rem;
        z-index: 10;
    }

    .top-bar nav li {
        display: block;
    }

    .top-bar nav li a,
    .top-bar nav .main-nav li a:last-of-type {
        padding: 1rem 2.5rem;
    }

    .top-bar nav .social-icons {
        position: static;
        width: auto;
        padding-top: 0;
        text-shadow: 1rem 1rem 1rem #000;
        font-size: 1rem;
    }

    .social-icons .fab {
        margin: 0.5rem 0;
    }

    .fa-bars:hover {
        color: hsl(110, 100%, 45%);
    }

    .toggle-nav:checked ~ .fa-bars,
    .top-bar:focus-within .fa-bars {
        transform: rotateZ(90deg);
    }

    .toggle-nav:checked ~ nav,
    .top-bar nav:focus,
    .top-bar nav:focus-within
    {
        right: 0;
    }

    /* end hamburger menu css */

    section.friends-about {
        padding: 5rem 0;
    }

    .friends-about .gallery {
        margin-top: 4rem;
    }

    .gallery .img-container {
        margin-right: 2rem;
        width: calc(50% - 1rem);
        margin-bottom: 6rem;
    }

    .gallery .img-container:last-of-type {
        margin-bottom: 2rem;
    }

    .icon-links ul {
        margin: 5rem 0;
    }

    .bottom {
        padding: 5rem 0;
    }

    /* Bottom form shifting */

    .bottom form input[type='email'] {
        width: 100%;
        max-width: 100%;
    }

    .bottom form input[type='submit'] {
        width: auto;
    }

    .bottom form input[type='email'],
    .bottom form input[type='submit'] {
        margin: 2rem auto;
        display: block;
        float: none;
        text-align: center;
        padding: 1.5rem 3rem;
    }
}

@media (max-width: 500px) {
    /* general changes, font size reductions */
    p {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 3rem;
    }

    /* header changes */

    .left-half-wrapper,
    .right-half-wrapper,
    .wrapper {
        width: 100%;
        padding: 0 2rem;
    }

    .bio-text.left-half-wrapper,
    .bio-text.right-half-wrapper {
        padding: 4rem 2rem 2rem 2rem;
    }

    .header-content {
        width: 50%;
    }

    .header-content p {
        font-size: 3rem;
        line-height: normal;
    }
}

/* small vertical resolutions mess with the hamburger menu. Remove some padding to make it work */
@media (max-height: 560px) and (max-width: 750px) {
    header nav {
        line-height: normal;
    }

    .top-bar nav li a,
    .top-bar nav .main-nav li a:last-of-type {
        padding: 0.5rem 2.5rem;
    }

    .top-bar nav .fab {
        margin: 0;
    }

    .top-bar nav {
        padding-top: 4rem;
    }

    .fa-bars {
        font-size: 2rem;
        top: 1rem;
        right: 5.25rem;
    }
}

/* extend the header on small vertical resolutions */
@media (max-height: 560px) {
    header {
        height: auto;
        padding-bottom: calc(5rem + 20vh);
    }
}